<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | By Code Info</title>
    <link rel="stylesheet" href="Css/style.css" />
    <link href="login.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form>
        <label>Email</label>
        <input type="email" placeholder="" />
        <label>Password</label>
        <input type="password" placeholder="" />
        <button type="button">
          <a href="index.html">
            LogIn
          </a>
        </button>
    </form>
    </div>
    <p class="para-2">
      Not have an account? <a href="Signup.html">SignUp</a>
    </p>
  </body>
</html>

